.avata {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid chocolate;
  margin-left: -50px;
}
.avata:first-child {
  margin-left: 0px;
}
.vidu {
  background-color: yellow;
}
